pkgbase = python-pylink-square
	pkgdesc = Python interface for SEGGER J-Link
	pkgver = 0.4.0
	pkgrel = 1
	url = https://pypi.org/project/pylink-square/
	arch = any
	license = Apache-2.0
	makedepends = python-setuptools
	depends = python
	depends = jlink-software-and-documentation
	depends = python-psutil
	source = pylink-square-0.4.0.tar.gz::https://files.pythonhosted.org/packages/source/p/pylink-square/pylink-square-0.4.0.tar.gz
	sha256sums = 88e2bef11c33955f7eb74b362454cbbe56210f26035ce9e1c0a6d44ab77f9761

pkgname = python-pylink-square

